
@font-face {
    font-family: 'SF Compact Display Regular';
    src: url('../fonts/SFCompactDisplayRegular/SFCompactDisplayRegular.eot');
    src: url('../fonts/SFCompactDisplayRegular/SFCompactDisplayRegular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/SFCompactDisplayRegular/SFCompactDisplayRegular.woff') format('woff'),
            url('../fonts/SFCompactDisplayRegular/SFCompactDisplayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display Heavy';
        src: url('../fonts/SFCompactDisplayHeavy/SFCompactDisplayHeavy.eot');
        src: url('../fonts/SFCompactDisplayHeavy/SFCompactDisplayHeavy.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SFCompactDisplayHeavy/SFCompactDisplayHeavy.woff') format('woff'),
             url('../fonts/SFCompactDisplayHeavy/SFCompactDisplayHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display Semibold';
        src: url('../fonts/SFCompactDisplaySemibold/SFCompactDisplaySemibold.eot');
        src: url('../fonts/SFCompactDisplaySemibold/SFCompactDisplaySemibold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SFCompactDisplaySemibold/SFCompactDisplaySemibold.woff') format('woff'),
             url('../fonts/SFCompactDisplaySemibold/SFCompactDisplaySemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
